<div class="jumbotron">
  <div class="jumbotron-content">
    <h1 class="animated fadeIn fast">Sobre nosotros</h1>
    <p class="animated fadeIn">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
      reprehenderit omnis laborum quae est autem blanditiis. Inventore beatae
      blanditiis minima itaque. Ipsam beatae sed amet odit asperiores dolor
      omnis. Tempora!
    </p>
    <p class="animated fadeIn">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa repudiandae
      aliquam accusantium, quae quia corporis aspernatur obcaecati corrupti
      saepe suscipit laborum fuga ut enim dolorem dignissimos tempore inventore
      voluptatum totam!
    </p>
    <!-- <a href="#servicios" class="btn">Nuestros Servicios</a> -->
  </div>
</div>
