<nav class="navbar">
  <a routerLink="home">
    <img src="assets/img/A-64.png" alt="logo" />
  </a>
  <div class="navbar-links">
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="about" routerLinkActive="active">Sobre Nosotros</a>
    <!-- <a routerLink="z" routerLinkActive="active">Contacto</a> -->
    <form class="navbar-search">
      <input
        type="text"
        placeholder="Buscar..."
        #searchheroe
        (keyup.enter)="searchHeroe(searchheroe.value)"
      />
      <button type="button" (click)="searchHeroe(searchheroe.value)">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</nav>
